.cardsContainer {
    position: relative;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100vh - 78px);
    padding: 10px 0;
}