.card {
    display: flex;
    position: relative;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10px auto;
    height: 20rem;
    width: 15rem;
    border-radius: 8px;
    cursor: pointer;
    z-index: 0;
}

.active-card {
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 2;
}

.background {
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    position: fixed;
    bottom: 0; right: 0;
    width: calc(100% - 102px);
    height: calc(100% - 78px);
    z-index: 1;
}

.cover {
    height: 20rem;
    width: 15rem;
    border-radius: 8px;
}

.gameTitle {
    color: white;
    max-width: 70%;
    text-align: center;
    background-color: #008CBA;
    margin-top: 1.5rem;
    font-size: 16px;
}

.gameSummary {
    color: white;
    text-align: center;
    background-color: #008CBA;
    margin: 3rem 0.5rem 1rem 0.5rem;
    overflow-y: auto;
    font-size: 14px;
}

.unavailable {
    color: white;
}

.cardOverlay {
    background-color: #008CBA;
    overflow: hidden;
    width: 15rem;
    height: 0rem;
    border-radius: 8px;
    transition: .4s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card:hover .cardOverlay {
    height: 20rem;
    position: absolute;
}